#page {
    font-size: 16pt;
}

.game {
    margin-top: 70px;
}

ul#competitors-list,
ul#add-score-inputs {
    margin: 0;
}

ul#competitors-list > li {
    display: block;
    margin: 2px 0;
    padding: 5px;
    cursor: pointer;
    border: solid 3px #FFFFFF;
    border-radius: 5px;
}

ul#competitors-list > li.selected {
    border-color: #6060FF;
}

ul#competitors-list > li.removing,
ul#competitors-list > li.selected.removing {
    border-color: #9E0000;
    color: #9E0000;
}

ul#competitors-list > li span {
    display: inline-block;
    line-height: 16pt;
}

ul#competitors-list > li.player-header {
    font-weight: bold;
    cursor: default;
}

ul#competitors-list > li > span.player-name {
    width: 350px;
}

ul#competitors-list > li > span.player-score {
    width: 65px;
}

ul#competitors-list > li > i.player-remove {
    margin: 5px;
}

ul#add-score-inputs > li {
    display: inline-block;
}

ul#add-score-inputs > li input.score {
    font-size: 20pt;
    height: 40px;
    width: 75px;
    line-height: 40px;
    padding: 4px 12px;
}

input#player-name {
    font-size: 20pt;
    height: 40px;
    width: 100%;
    max-width: 444px;
    line-height: 40px;
    padding: 4px 12px;
}
